


:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
    'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
    'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --primary-glow: conic-gradient(
    from 180deg at 50% 50%,
    #16abff33 0deg,
    #0885ff33 55deg,
    #54d6ff33 120deg,
    #0071ff33 160deg,
    transparent 360deg
  );
  --secondary-glow: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );

  --tile-start-rgb: 239, 245, 249;
  --tile-end-rgb: 228, 232, 233;
  --tile-border: conic-gradient(
    #00000080,
    #00000040,
    #00000030,
    #00000020,
    #00000010,
    #00000010,
    #00000080
  );

  --callout-rgb: 238, 240, 241;
  --callout-border-rgb: 172, 175, 176;
  --card-rgb: 180, 185, 188;
  --card-border-rgb: 131, 134, 135;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;

    --primary-glow: radial-gradient(rgba(1, 65, 255, 0.4), rgba(1, 65, 255, 0));
    --secondary-glow: linear-gradient(
      to bottom right,
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0),
      rgba(1, 65, 255, 0.3)
    );

    --tile-start-rgb: 2, 13, 46;
    --tile-end-rgb: 2, 5, 19;
    --tile-border: conic-gradient(
      #ffffff80,
      #ffffff40,
      #ffffff30,
      #ffffff20,
      #ffffff10,
      #ffffff10,
      #ffffff80
    );

    --callout-rgb: 20, 20, 20;
    --callout-border-rgb: 108, 108, 108;
    --card-rgb: 100, 100, 100;
    --card-border-rgb: 200, 200, 200;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
body {
  background: #0d0e0f;
  font-family:  "Outfit", sans-serif;
}
button:focus:not(:focus-visible) {
	outline: 0;
	box-shadow: unset;
}
.videbackground::after {
	content: '';
	position: absolute;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: #000000a6;
	z-index: 0;
	left: 0;
}
.header-section p b {
	color: #ff9800;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
.header-section p {
	color: #a5a5a5;
	line-height: 28px;
}
video {
  width: 100vw;
  
}
.header-section h2 {
	font-size: 44px;
	font-weight: 100;
	margin-top: 24px;
}
.header-section h2 span {
	font-size: 26px;
}

.navbar-brand {
  letter-spacing: 7px;
  font-size: 25px;
  font-weight: bold;
}
header {

  height: 100vh;
}
.nav-link {
  font-size: 16px;
  margin: 0 11px;
}
.videbackground {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  height: 100vh;
  overflow: hidden;
}
.headernav {
	background: #020202;
	border-bottom: 2px solid #282828;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
	-webkit-backdrop-filter: blur(4px);
	backdrop-filter: blur(4px);
}
section.about_section {
	padding: 126px 0;
	background: white;
}
.header-section {
  position: absolute;
  top: 31%;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
}
.header-section h1 {
	/* font-family: 'Playfair Display', serif; */
	font-size: 71px;
	font-weight: 100;
}
.header-section h1 span {
  font-size: 44px;
  color: #e4e4e4;
}
.card .banner img {
  width: 100%;
  height: 328px;
  border-radius: 11px;
  object-fit: cover;
}
.btn.btn-primary {
	background: #ff9800;
	border: 0;
	padding: 20px 26px;
	border-radius: 69px;
	display: inline-flex;
	align-items: center;
	gap: 7px;
	font-size: 16px;

	color: black;
	font-weight: 400;
}
.icon-scroll,
.icon-scroll:before {
    position: absolute;
    left: 50%
}
.progress-bar {
  background: linear-gradient(to right, #4e068f, #f12d3f);
}
.icon-scroll {
    width: 30px;
    height: 50px;
    margin-left: -20px;
    bottom: 10px;
    margin-top: -35px;
    border: 2px solid #fff;
    border-radius: 25px
}
@media (max-width: 767px) {
    .icon-scroll {
        position: relative
    }
}

.icon-scroll:before {
    content: '';
    width: 8px;
    height: 8px;
    background: #fff;
    margin-left: -4px;
    top: 8px;
    border-radius: 4px;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: scroll
}

@keyframes scroll {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
        transform: translateY(26px)
    }
}

.experience {
	background: #1a1a1a;
	position: absolute;
	top: 61px;
	padding: 11px 22px;
	right: 31%;
	border-radius: 7px;
	-webkit-backdrop-filter: blur(2px);
	backdrop-filter: blur(2px);
}
.experience.project {
	bottom: 31px;
	top: unset;
	right: unset;
	left: -42px;
	background: #202020 !important;
}
.experience h2 {
	font-size: 15px;
	margin: 0;
	text-transform: capitalize;
	color: #fff;
}
.Aboutus_image {
	position: relative;
	text-align: right;
}
/* .Aboutus_image img {
  border-radius: 206px 206px 0 0;
  width: 65%;
  height: 461px;
  object-fit: cover;
  object-position: top;
} */
h2.heading b {
	font-weight: 700;
}
h2.heading {
	font-size: 56px;
	margin-bottom: 17px;
	font-weight: 300;
}
.progress {

  background-color: rgb(236 44 66 / 16%);
}
.Skills-progress h2 {
	font-size: 16px;
	font-weight: normal;
	color: #9d9d9d;
}
li.nav-item {
    position: relative;
}
.gradient-txt {
	font-size: 20px;
	background: #000;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-weight: 300;
	margin-bottom: 9px;
	display: inline-block;
	margin-top: 59px;
}
.card img {
  width: 100%;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #131518;
  background-clip: border-box;
  border-radius: 21px;
  padding: 22px 23px;
  box-shadow: 10px 10px 19px #090a0c, -10px -10px 19px #161b1e;
  border: 0;
  margin-bottom: 51px;
}
footer {
  background: black;
  padding: 16px 0;
}
footer h2.text-white {
  font-size: 14px;
  margin: 0;
}
h2.text-white.text-right {
  text-align: right;
}
.my-skills .card {
  text-align: center;
}
.tab-content{
  margin-top: 9px;
}
.cardimg h2.text-white {
  font-size: 18px;
  margin-top: 27px;
}
.showcase {
  padding: 74px 0;
}
 p {
	font-size: 16px;
	color: #808080;
	line-height: 1.6;
	font-weight: 300;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  color: #fff !important;
  background: transparent;
}
.nav-pills .nav-link {
  background: 0 0;
  border: 0;
  border-radius: .25rem;
  color: #686868 !important;
  padding: 16px 6px;
}

          .path-0{
            animation:pathAnim-0 4s;
            animation-timing-function: linear;
            animation-iteration-count: infinite;
          }
          @keyframes pathAnim-0{
            0%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 168,196 336,192 506,206 C 676,220 848,252 1004,254 C 1160,256 1300,228 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            25%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 173.7333333333333,215.60000000000002 347.4666666666666,231.20000000000002 487,234 C 626.5333333333334,236.79999999999998 731.8666666666666,226.8 885,219 C 1038.1333333333334,211.2 1239.0666666666666,205.6 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            50%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 158.8,214.39999999999998 317.6,228.79999999999998 461,223 C 604.4,217.20000000000002 732.4000000000001,191.20000000000002 893,184 C 1053.6,176.79999999999998 1246.8,188.39999999999998 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            75%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 172,241.33333333333331 344,282.66666666666663 497,270 C 650,257.33333333333337 784,190.66666666666669 938,170 C 1092,149.33333333333331 1266,174.66666666666666 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
            100%{
              d: path("M 0,400 C 0,400 0,200 0,200 C 168,196 336,192 506,206 C 676,220 848,252 1004,254 C 1160,256 1300,228 1440,200 C 1440,200 1440,400 1440,400 Z");
            }
          }
          .card img {
            width: 100%;
            height: 265px;
            border-radius: 11px;
            object-fit: cover;
        }
        .pulses {
          animation: pulse-animation 2s infinite;
        }
        @keyframes pulse-animation {
          0% {
            box-shadow: 0 0 0 0px rgba(236, 236, 236, 0.26);
          }
          100% {
            box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.027);
          }
        }
        .call-icon p {
          margin: 0;
      }
      .pulse {
        position: fixed;
        bottom: 37px;
        right: 34px;
        color: white;
        background: #ffffff0a;
        padding: 11px 11px;
        border-radius: 43px;
        -webkit-backdrop-filter: blur(11px);
        backdrop-filter: blur(11px);
        border: 1px solid #2f2f2f;
        background: black !important;
      }
    .circle.pulse.orange:hover {
      background: linear-gradient(to right, #4e068f, #f12d3f);
  }
  .whatapp {
    background: green;
    border-radius: 50%;
    padding: 6px 10px !important;
}
figure {
  margin: 0 0 1rem;
  overflow: hidden;
  position: relative;
}
a.portbtn {
  position: absolute;
  bottom: 7px;
  left: 0;
  right: 0;
  margin: auto;
  background: white;
  width: 132px;
  text-align: center;
  padding: 6px 0;
  border-radius: 5px;
  font-size: 14px;
}
a.portbtn:hover {
  background: linear-gradient(to right, #4e068f, #f12d3f);
  color: white;
  box-shadow: 0 0 63px #c14493;
}
a.portbtn {
    position: absolute;
    bottom: -49px;
    left: 0;
    right: 0;
    margin: auto;
    background: #1c1c1c;
    width: 132px;
    text-align: center;
    padding: 10px 0;
    border-radius: 5px;
    font-size: 14px;
    transition: 0.2s all ease-in-out;
    color: white;
    backdrop-filter: blur(1px);
}
.cardimg:hover a.portbtn {
  bottom: 31px;
}
    .call-icon {
      display: flex;
      align-items: center;
      gap: 14px;
  }
  figure {
    margin: 0 0 1rem;
    overflow: hidden;
    position: relative;
}
  .circle  a:hover {
    color: unset;
}
section.my-skills {
  background: #fff;
  padding: 40px 0;
}
h2.headings {
  color: white;
  margin-bottom: 27px;
  font-size: 20px;
  border-bottom: 1px solid #7a1179;
  padding-bottom: 20px;
}
.nav-link {
  position: relative;
}
.nav-link:after {
  position: absolute;
  content: "";
  left: auto;
  bottom: 0;
  background: linear-gradient(90deg,#4e068f,#f12d3f);
  width: 0;
  height: 2px;
  transition: .3s;
  right: 0;
}
.nav-link:hover:after {
  width: 100%;
  left: 0;
  right: auto;
}
.timeline {
  position: relative;
  margin: 0 auto 59px;
  padding: 40px 0;
  width: 100%;
  display: inline-block;
}
.timeline::before {
  content: '';
  position: absolute;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: #2d3138;
  border-radius: 8px;
}

.timeline ul li:hover .time{
  transform: scale(1.1);
}

/*Elementos de lista*/
.timeline ul li{
  list-style: none;
  position: relative;
  width: 50%;
  padding: 20px 40px;
}

.timeline ul li:nth-child(odd){
  float: left;
  text-align: right;
  clear: both;
}

.timeline ul li:nth-child(even){
  float: right;
  text-align: left;
  clear: both;
}

/*Circulo indicador*/
.timeline ul li::before {
  content: '';
  position: absolute;
  top: 30px;
  width: 10px;
  height: 10px;
  background-color: #e91e63;
  border-radius: 50%;
  box-shadow: 0 0 0 3px var(--colorSombra);
}

.timeline ul li:nth-child(odd)::before{
  right: 10px;
}

.timeline ul li:nth-child(even)::before{
  left: -20px;
}

.timeline ul li:hover::before{
  transform: scale(1.5);
}

/*Fecha*/
.time {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  padding: 8px 18px;
  margin-bottom: 15px;
  background: linear-gradient(to right, #4e068f, #f12d3f);
  border-radius: 20px;
}


/*Contenido*/
.content{
  padding-bottom: 20px;
}

.timeline ul li h2 {
  font-weight: 500;
  color: white;
  font-size: 22px;
  margin-top: 16px;
}
.timeline ul li p {
  margin: 10px 0;
  font-weight: 300;
  color: #b5b5b5;
}
.time h3 {
  margin: 0;
  color: white;
  font-size: 15px;
}
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2126; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #e62a44; 
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
html {
  scroll-behavior: smooth;
}




/* Brand logo slider */
.brands {
	position: relative;
	overflow: hidden;
	height: 80px;
	background: #22262b;
	margin-bottom: 71px;
}


.brands__preWrapper {
  position: relative;
  width: 100%;
  height: 8.5rem;
  transform: translateX(0%);
  animation: scroll1 25s linear infinite;

  animation-direction: alternate;

  will-change: transform;
}
.graph {
	position: absolute;
	top: 0;
	right: 0;
	transform: rotate(180deg);
	width: 90px;
}
.brands__wrapper > a::after {
	content: "";
	position: absolute;
	top: 26px;
	width: 15px;
	height: 15px;
	background: #ff9800;
	right: -40px;
	border-radius: 20px;
}
.brands__wrapper {
  position: absolute;
  white-space: nowrap;
  transform: translateX(0%) translateZ(0);
  animation: scroll2 25s linear infinite;

  animation-direction: alternate;

  will-change: transform;
}

.brands__wrapper > a, .brands__wrapper > img {
	position: relative;
	display: inline-block;
	margin: 5px 2rem;
	vertical-align: middle;
	font-size: 42px;
	color: #e2e2e2b2;
	font-weight: 200;
}
.brands__wrapper > a img {
  max-width: 15rem;
  max-height: 8.5rem;
}

@keyframes scroll1 {
  0% {
    transform: translateX(-0%);
  }
  100% {
    transform: translateX(100%);
  }
}

@keyframes scroll2 {
  0% {
    transform: translateX(0%) translateZ(0);
  }
  100% {
    transform: translateX(-100%) translateZ(0);
  }
}

.carrier {
	background: #0d0e0f;
	padding: 20px 21px;
	height: 100%;
	border: 1px solid #2b2b2b;
}
.carrier h2 {
	font-size: 26px;
	margin-bottom: 21px;
}
.carrier h3 {
	font-size: 15px;
	color: #ddd;
}
.count {
	position: absolute;
	top: -10px;
	right: 8px;
	color: #1c1c1c;
	font-size: 44px;
	font-weight: bold;
}
.carrier::after {
	content: "";
	position: absolute;
	top: 0;
	width: 0;
	height: 3px;
	background: #ff9800;
	left: 0;
	transition: all 0.8s ease;
}
.carrier:hover::after {
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 3px;
	background: #ff9800;
	left: 0;
	transition: all 0.8s ease;
}
.Skills-progress:hover .skill-inner {
	background: #fff8eb;
	border: 1px solid #ff9800;
}
.Skills-progress:hover img {
  filter: grayscale(0);
  -webkit-filter: grayscale(0);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.skill-inner {
	border-radius: 10px;
	padding: 40px 15px 30px;
	background: #fff;
	border: 1px solid #ddd;
	margin-bottom: 15px;
	transition: 0.6s;
}
.Skills-progress:hover h2 {
	color: #ff9800;
}
.skill-inner .number {
	color: #1b1b1b;
	font-weight: 600;
	font-size: 19px;
	line-height: 1;
	margin-top: 29px;
}
.Skills-progress {
	margin-bottom: 41px;
}
.skill-inner img {
	transition: 0.3s;
	width: 53px;
	height: 53px;
}
.contact-us {
	min-height: 400px;
	display: grid;
	place-content: center;
	overflow: hidden;
	border-radius: 16px;
	background-image: url(/contact.jpg);
	background-size: cover;
	background-attachment: fixed;
	backdrop-filter: grayscale(1);
}
.contact-us h2 {
	font-size: 5rem;
	z-index: 9;
	color: white;
	font-weight: 100;
  cursor: pointer;
}
.navbar .btn.btn-primary {
	background: transparent;
	border: 1px solid #000;
	color: #ff9800;
	padding: 9px 24px;
	font-size: 16px;
}
.modal-header {
	border-bottom: 0px solid #dee2e6;
	display: flex;
	justify-content: center;
}
#staticBackdropLabel {
	font-size: 2rem !important;
}
.modal-content {
	background-color: #0c0c0c;
	outline: 0;
	color: white;
	padding: 9px 6px;
}
.btn-close {
	background: #ff9800 !important;
	position: absolute;
	right: -24px;
	top: 7px;
	opacity: 1;
	line-height: 0;
}
.contact {
	text-align: center;
	border: 1px solid #1d1d1d;
	transition: all 0.2s ease;
	padding: 23px 0;
	background: #171717;
}
.contact:hover {
	border-color: #ff9800;
}
.contact a {
	padding: 37px 0;
	border-radius: 7px;
	color: #626262;
}
.contact i {
	display: block;
	font-size: 27px;
  color: #fff;
}
.modal-dialog {
	max-width: 590px;
	margin: 1.75rem auto;
}
.modal {
	
	backdrop-filter: blur(3px);
}
.navbar-toggler.menu-btn {
  color: #ff9800;

}
.navbar-toggler.menu-btn.collapsed {
	color: white;
}

.loader {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 0;
  height: 100vh;
  transition: width 0s 1.4s ease;
}

.loader .loader__tile {
  position: absolute;
  left: 0;
  width: 0;
  height: 20%;
  background-color: #ff9800;
  transition: width 0.7s ease;
}

.loader .loader__tile:nth-child(0) {
  top: calc(-1 * 20%);
  transition-delay: -0.2s;
}

.loader .loader__tile:nth-child(1) {
  top: calc(0 * 20%);
  transition-delay: 0s;
}

.loader .loader__tile:nth-child(2) {
  top: calc(1 * 20%);
  transition-delay: 0.2s;
}

.loader .loader__tile:nth-child(3) {
  top: calc(2 * 20%);
  transition-delay: 0.4s;
}

.loader .loader__tile:nth-child(4) {
  top: calc(3 * 20%);
  transition-delay: 0.6s;
}

.loader .loader__tile:nth-child(5) {
  top: calc(4 * 20%);
  transition-delay: 0.8s;
}

.loader--active {
  width: 100%;
  transition-delay: 0s;
}

.loader--active .loader__icon {
  opacity: 1;
  transition: opacity 0.5s 0.8s ease;
}

.loader--active .loader__tile {
  width: 100%;
}

.loader--active .loader__tile:nth-child(0) {
  transition-delay: -0.2s;
}

.loader--active .loader__tile:nth-child(1) {
  transition-delay: 0s;
}

.loader--active .loader__tile:nth-child(2) {
  transition-delay: 0.2s;
}

.loader--active .loader__tile:nth-child(3) {
  transition-delay: 0.4s;
}

.loader--active .loader__tile:nth-child(4) {
  transition-delay: 0.6s;
}

.loader--active .loader__tile:nth-child(5) {
  transition-delay: 0.8s;
}
.follow i {
	font-size: 16px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.follow {
	color: #fff !important;
	font-size: 16px;
}